/* Reset Styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #383838;
    color: #fff;
    padding: 20px;
    text-align: center; /* Center align the content */
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* Make the navigation vertical */
nav ul {
    display: flex;
    flex-direction: column;
}

/* Hero Section Styles */
#hero {
    background-image: url('coffee.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Menu Section Styles */
#menu {
    padding: 50px 20px;
    text-align: center;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
}

/* About Section Styles */
#about {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
}

/* Contact Section Styles */
#contact {
    padding: 50px 20px;
    text-align: center;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

#contact-form button {
    background-color: #383838;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #383838;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.additional-items {
    display: none;
}
.social-media {
    margin-top: 10px;
}

.social-media a {
    display: inline-block;
    text-decoration: none;
    color: #383838; /* Change icon color if needed */
    padding: 10px; /* Adjust padding as needed */
    margin-right: 10px; /* Adjust margin as needed */
    font-size: 24px; /* Increase icon size */
}

.social-media a:hover {
    color: #555; /* Change icon color on hover if needed */
}
